<!DOCTYPE html>
<html lang="en">
	<head>
 
	</head>

	<body>

		<h1 id="heading-tracker">Today's Intel</h1>

		<div class="probability">
  			<!--<p><a href="/prob">Probability Check</a></p>
  			<p><a href="/machine">Understanding Revenue Patterns</a></p>
  			<p><a href="/tracker">insightER Real Time Analytics</a></p> -->
		</div>
		<table class="intel-table">
			<tr><td>McCafe offering free coffee all week in your neighborhood</td></tr>
			<tr><td>McCafe's offer runs from 9 am to 11 am</td></tr>
			<tr><td>insightER recommends offering a similar promotion</td></tr>
			<tr><td>insightER recommends promotion run parallel with McCafe</td></tr>
		</table>
		
		<div class="intel-spacer"></div>
	</body>
</html>
  