<!DOCTYPE html>
	<html lang="en">
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="">
    	<meta name="author" content="">

    	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    	<script type="text/javascript" src="/public/javascript/script.js"></script>
    
    	<title>LHL Midterm Project</title>

   	 	<!-- Bootstrap Core CSS -->
    	<link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet">
    	<link href='https://fonts.googleapis.com/css?family=Catamaran:400' rel='stylesheet' type='text/css'>
    	<!-- Custom CSS -->
    	<style>
    		body {
        	padding-top: 70px;
        	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    	}
    	</style>

	<body>
	  <div class="machine-container">
		<h1>insightER Pattern Analyzer</h1>
		<!--<div>
  			<p><a href="/prob">Probability Check</a></p>
  			<p><a href="/tracker">insightER Real Time Analytics</a></p>
		</div> -->
		<p>
		</p>
	
  		<table class="id3" align="center" width="35%">
  			<tr>
    			<th>Discount Level</th>
    			<th>Product Mix</th> 
    			<th>Revenue Impact</th>
  			</tr>
  			<tr>
    			<td>Up to 30%</td>
    			<td>All products</td> 
    			<td>Postive</td>
  			</tr>
  			<tr>
    			<td>30% to 50%</td>
    			<td>Cappuccino</td> 
    			<td>Postive</td>
  			</tr>
  			<tr>
    			<td>30% to 50%</td>
    			<td>Americano</td> 
    			<td>Postive</td>
  			</tr>
  			<tr>
          <td>30% to 50%</td>
          <td>Espresso</td> 
          <td>Negative</td>
        </tr>

        <tr>
    			<td>50% to 80%</td>
    			<td>Cappuccino</td> 
    			<td>Negative</td>
  			</tr>
        <tr>
          <td>50% to 80%</td>
          <td>Americano</td> 
          <td>Positive</td>
        </tr>
  			<tr>
    			<td>More than 80%</td>
    			<td>All products</td> 
    			<td>Negative</td>
  			</tr>
  			<tr>
    			<td></td>
    			<td><a href='machine_ruby'><small>Machine Learning: Rules Generation</small></a></td> 
    			<td></td>
  			</tr>
		</table>
	  </div>
	  
	</body>
</html>
